/* Personalizações adicionais */
body {
    font-family: 'Arial', sans-serif;
  }
  
  a:hover svg {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  
  button:hover {
    transition: background-color 0.3s ease-in-out;
  }